<a href="https://colab.research.google.com/github/fishinvest/regression_code/blob/main/LSD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd

Next, we need to import our data

In [11]:
LSD_data = pd.read_csv('https://github.com/fishinvest/regression_code/blob/main/LSD/lsd.csv?raw=true')
LSD_data

   LSD_amount  Weight  Score
0        1.17     162  78.93
1        2.97     155  58.20
2        3.26     170  67.47
3        4.69     140  37.47
4        5.83     190  45.65
5        6.00     165  32.92
6        6.41     168  29.97

In [13]:
x = LSD_data[['LSD_amount']].to_numpy()
y = LSD_data[['Score']].to_numpy()

In [14]:
model = LinearRegression()
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
# Grab the R^2 value
r_squared = model.score(x,y)
print(r_squared)

# Grab the intercept, or the predicted amount if LSD=0
intercept = model.intercept_.item(0)
print(intercept)

# Grab the coefficient on LSD_amount
LSD_coef = model.coef_.item(0)
print(LSD_coef)

0.8778349707775888
89.12387376799305
-9.009466415296782

In [22]:
LSD_data['predicted'] = intercept + LSD_coef * LSD_data['LSD_amount']
LSD_data['residual'] = LSD_data['Score'] - LSD_data['predicted']

LSD_data

   LSD_amount  Weight  Score  predicted  residual
0        1.17     162  78.93  78.582798  0.347202
1        2.97     155  58.20  62.365759 -4.165759
2        3.26     170  67.47  59.753013  7.716987
3        4.69     140  37.47  46.869476 -9.399476
4        5.83     190  45.65  36.598685  9.051315
5        6.00     165  32.92  35.067075 -2.147075
6        6.41     168  29.97  31.373194 -1.403194

In [27]:
x = LSD_data[['LSD_amount', 'Weight']].to_numpy()

model = LinearRegression().fit(x,y)
r_squared = model.score(x,y)
intercept = model.intercept_.item(0)
LSD_coef = model.coef_.item(0)
weight_coef = model.coef_.item(1)

LSD_data['predicted'] = intercept + LSD_coef * LSD_data['LSD_amount'] + weight_coef * LSD_data['Weight']
LSD_data['residual'] = LSD_data['Score'] - LSD_data['predicted']
LSD_data

   LSD_amount  Weight  Score  predicted  residual
0        1.17     162  78.93  80.741744 -1.811744
1        2.97     155  58.20  59.782322 -1.582322
2        3.26     170  67.47  63.232376  4.237624
3        4.69     140  37.47  36.236355  1.233645
4        5.83     190  45.65  46.003556 -0.353556
5        6.00     165  32.92  33.721461 -0.801461
6        6.41     168  29.97  30.892187 -0.922187